<h1>Create a New Case</h1>

<%= form_with(model: @case, local: true) do |f| %>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :location %>
    <%= f.text_field :location %>
  </div>

  <div class="field">
    <%= f.label :expertise %>
    <%= f.text_field :expertise %>
  </div>

  <div class="field">
    <%= f.label :urgency %>
    <%= f.text_field :urgency %>
  </div>

  <div class="field">
    <%= f.label :timeline %>
    <%= f.date_select :timeline %>
  </div>

  <div class="field">
    <%= f.label :lawyer_id, "Assign to a Lawyer" %>
    <%= f.collection_select :lawyer_id, User.where(role: 'lawyer'), :id, :full_name, prompt: "Select a Lawyer" %>
  </div>

  <div class="actions">
    <%= f.submit "Create Case" %>
  </div>
<% end %>
